.aside {
  padding: 1rem;
  flex-grow: 1;
  color: $secondary-color;
  &__list {
    list-style-type: none;
    padding: 0;
    li {
      margin-bottom: 0.5rem;
      padding: 8px;
      padding-right: 0;
      &:hover {
        background-color: $base-color;
        cursor: pointer;
      }
      &.selected {
        background-color: darken($base-color, 10%);
      }
    }
  }
}
